//
// Project Variables
//

/* fonts */
$--font-default: "Inter Tight";

/* colors */
$--color-default: #242425;
$--color-grey: rgba(36, 36, 37, 0.60);
$--color-white: #fff;
$--color-dark-blue: #010C50;
$--color-blue: #000BA9;
$--color-custom-grey: #D6D6D6;
